Source: cartridge-cli
Priority: optional
Section: database
Maintainer: Konstantin Nazarov <mail@knazarov.com>
Build-Depends: debhelper (>= 9), cdbs,
               tarantool-dev (>= 1.7.5.0),
               cmake (>= 2.8)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/cartridge-cli
Vcs-Git: git://github.com/tarantool/cartridge-cli.git
Vcs-Browser: https://github.com/tarantool/cartridge-cli

Package: cartridge-cli
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.7.5.0),
         ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Cartridge command line interface
 This package provides a command line interface for cartridge
